@font-face {
  font-family: 'Apercu';
  src: url('/fonts/apercu_regular_pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Medium';
  src: url('/fonts/apercu_medium_pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Bold';
  src: url('/fonts/apercu_bold_pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Light';
  src: url('/fonts/ApercuPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}