
:root {
  --primary: #685DC5;
  --text: #535353;
  --background-gray: #FBFBFB;
  --green: #469761;
  --border: #DADADA;
}

html {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  padding: 0;
  margin: 0 !important;
  font-family: 'Apercu', sans-serif;
}

p {
  font-family: 'Apercu Light', sans-serif;
  font-size: 22px;
  line-height: 30px;
  margin: 30px 0;
  color: var(--text);
}

b {
  font-family: 'Apercu Medium', sans-serif;
  color: var(--text);
}

h2 {
  color: var(--primary);
  font-family: 'Apercu Medium', sans-serif;
  font-size: 48px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  position: relative;

  @media screen and (max-width: 400px) {
    width: calc(100vw - 30px);
  }
}

.inner-container {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;

  @media screen and (max-width: 400px) {
    width: calc(100vw - 30px);
  }
}

.btn {
  height: 58px;
  padding: 0 20px;
  border-radius: 20px;
  color: white;
  font-family: "Apercu Light", sans-serif;
  font-size: 22px;
  border: 1px solid transparent;
  background: var(--primary);
  cursor: pointer;
  margin-top: 15px;
  transition: .15s;

  &:hover {
    background: white;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: .15s;
  }
}